VITE_STRIPE_PUBLISHABLE_KEY=pk_test_51TXI85EDyClmbo5QcQ7c6Ocr26eICHI0SeXti0Qk7o0MX6mNX9DuewSmOKLjCrJlQ733G71mBpP0oJkxzI89Hqbc00t8eXEnSj
VITE_API_BASE_URL=https://stadium-api-vrlb.onrender.com/api
SECRETS_SCAN_OMIT_KEYS=VITE_API_BASE_URL,VITE_STRIPE_PUBLISHABLE_KEY